/* Set a fluid root font-size */
html {
    /*
     * clamp(MIN, PREFERRED, MAX)
     * MIN: The smallest the font will get (16px).
     * PREFERRED: The ideal size, scales with 2% of the viewport width.
     * MAX: The largest the font will get (28px).
     */
    font-size: clamp(16px, 2vw, 28px);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.slide.active {
    display: flex;
}

/* Animation Styles */
.fade-in-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-item.visible {
    opacity: 1;
}
